*.o
*.lo
*.la
.deps
.libs
Makefile
autom4te.cache/
config.h
config.log
config.status
*.orig
libtool
ospfclient/ospfclient
ospfd/ospfd
ospfn/ospfn
pkgsrc/bgpd.sh
pkgsrc/ospf6d.sh
pkgsrc/ospfd.sh
pkgsrc/ripd.sh
pkgsrc/ripngd.sh
pkgsrc/zebra.sh
stamp-h1
watchquagga/watchquagga
zebra/testzebra
zebra/zebra
redhat/quagga.spec
